# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
# Use "db" for Docker container name, or "localhost" if running Express app on host machine
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=belajar_mandiri
